<% add_extra_css('salary-calculator.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/vue-select.min.js', 'libs/clipboard.min.js', 'libs/core-js.url.js', 'salary-calculator-vue.js') %>

<div class="salary-container col-xs-12" data-role="<%= locals.fetch(:role, nil) %>">
  <h2 id="compensation">Compensation</h2>
  <h3>Components</h3>
  <p>Compensation at GitLab consists of:</p>
  <ol>
    <li>Base salary</li>
    <li><a href="/handbook/stock-options/">Options</a></li>
    <li>Bonus in some functions</li>
    <li><a href="/handbook/incentives/#discretionary-bonuses">Discretionary bonus</a></li>
    <li><a href="/handbook/benefits/inc-benefits-us/#401k-plan">Retirement contributions</a> in eligible regions</li>
    <li><a href="/handbook/spending-company-money/">Pay for equipment</a></li>
    <li><a href="/handbook/benefits/#all-remote">Remote work</a></li>
    <li><a href="/handbook/paid-time-off/#paid-time-off">Unlimited time off</a></li>
    <li><a href="/handbook/benefits/">Benefits</a></li>
  </ol>
  <h3>Base salary calculator</h3>
  <div class="role margin-bottom10" v-if="showRoleSelector">
    <h4>Select a role</h4>
    <salary-calculator-select
      :searchable="true"
      :options="allRoles"
      v-model="currentRole"
      label="Role"
      title-field="title"
      />
  </div>
  <div v-if="renderCalculator">
    <div class="col-sm-8">
      <div class="col-sm-6">
        <div class="level" v-if="roleLevels">
          <salary-calculator-select
            :options="roleLevels"
            v-model="currentLevel"
            label="Level"
            title-field="title"
            :option-value="formatRoleLevel"
            />
        </div>
        <div class="dropdown level" v-else>
          <button class="dropdown-menu-toggle btn" data-toggle="dropdown" disabled type="button">
            <span class="label">Level</span>
            <span class="title" data-selected="1.0">N/A</span>
            <span class="subtitle">1.0</span>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="experience">
          <salary-calculator-select
            :options="experienceFactors"
            v-model="currentExperience"
            label="Experience factor"
            title-field="label"
            :option-value="formatExperienceFactor"
            />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="country">
          <salary-calculator-select
            :searchable="true"
            :options="countries"
            v-model="currentCountry"
            label="Country"
            title-field="label"
            />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="area">
          <salary-calculator-select
            :disabled="!currentCountry"
            :searchable="true"
            :options="areas"
            v-model="currentArea"
            label="Area"
            title-field="area"
            :option-value="formatAreaLocationFactor"
            />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="compensation">
        <div class="title">Annual Compensation</div>
        <div class="amount">{{ compensationRange }}</div>
        <div class="converted-local-currency" v-if="localCurrencyRange">
          <a href="/handbook/people-operations/global-compensation/#exchange-rates">
            {{ localCurrencyRange }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 js-country-no-hire" :class="canHireCountry && 'hide'">
      <div class="alert alert-warning">
        Unfortunately GitLab is not hiring in your selected country at
        this time. Please read our
        <a href="/jobs/faq/#country-hiring-guidelines">frequently asked questions</a>
        for more details.
      </div>
    </div>
    <div class="col-sm-12 formula-container">
      <h4>How did we calculate your compensation?</h4>
      <div class="formula">
        <div class="variable-group">
          <div class="variable benchmark">
            <span class="name">SF benchmark</span>
            <span class="value">{{ formatAmount(currentRole.salary) }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable locationFactor">
            <span class="name">Location Factor</span>
            <span class="value">{{ formatAreaLocationFactor(currentArea) }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable level">
            <span class="name">Level</span>
            <span class="value">{{ currentLevelFactor }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable experience">
            <span class="name">Experience</span>
            <span class="value">{{ currentExperience.min }} to {{ currentExperience.max }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable contractFactor">
            <span class="name">Contract Factor</span>
            <span class="value">{{ contractTypeFactor || '--' }}</span>
          </div>
        </div>
      </div>
      <div class="generate-url" v-if="!showRoleSelector && calculateCompensation">
        <div>
          <h4>
            Share compensation url -
            <a class="copy-me" data-clipboard-target="#compensation-link">copy</a>
          </h4>
          <input id="compensation-link" class="form-control" :value="link" readonly />
        </div>
        <br />
      </div>
      <div class="explanation">
        Find out
        <a href="/handbook/people-operations/global-compensation#compensation-calculator">how our calculator works</a>.
        Also check out
        <a href="https://globalworkplaceanalytics.com/the-remote-work-roi-calculator-v0-95">the remote work ROI calculator</a>
        (we are
        <a href="https://gitlab.com/gitlab-com/people-ops/General/issues/239">working on building our own</a>).
        <span class="contract-type" v-if="calculateCompensation">
          Based on the information provided, we expect you will be
          <span v-if="contractType.employee_factor">
            an <b>employee</b>
          </span>
          <span v-else>
            a <b>contractor</b>
          </span>
          of
          <a href="/handbook/benefits/#entity-specific-benefits">{{ contractType.entity }}</a>.
        </span>
      </div>
    </div>
  </div>
</div>
